@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

:root{
    /* Fonts */
    --font: "Fragment Mono";

    /* Colors */
    --color1: #003140;
    --color2: #00629e;
    --color3: #00caff;
    --color4: #00f7ff;
    --color5: #84ffe2;

    /* Utilities */
    --cardBoxShadow: 2px 1px 4px 3px rgba(0, 0, 0, 25%);
}
/* Resettign global configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit; /*inherits from html*/
}

body {
    font-family: var(--font);
    font-size: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

img {
    max-width: 100%;
}

.inline_spacing{
    line-height: 1.3;
}

p{
    margin: 10px 0px;
}

ul{
    text-align: left;
}

hr{
    margin: 3% auto;
    width: 70%;
}

.header{
    width: 100%;
    height: 100vh;
    background-color: black;
    background: linear-gradient(to right, #00000042, #00000042), url("data_analysis.avif") no-repeat top;
    background-size: cover;
    position: relative;
}

.navbar_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 30px 0px;
    align-items: center;
    background-color: var(--color1);
    color: white;
    z-index: 1000;
    /* position: fixed; */
}


.logo figure img{
    width: 100px;
    height: 100%;
    border-radius: 50%;
    margin: 0% 0% 0% 10%;
}

.head_title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.navbar_container_element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    list-style: None;
    margin: 0% 0% 0% 10%;
}

.navbar_container_subelement{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.navbar_container_subelement a, navbar_container_subelement a:visited{
    text-decoration: none;
    color: white;
}

.align_center{
    text-align: center;
}

.align_left{
    text-align: left;
}

.section_title{
    margin: 5%;
    text-align: center;
}

.general_text{
    margin: 5% 5%;
    text-align: justify;
}

.container_projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.container_projects_element{
    box-shadow: var(--cardBoxShadow);
    border-radius: 10px;
    flex: 0 0 calc((100% - 20px)/3);
    max-width: 400px;
    min-width: 300px;
    transition: transform 0.8s, opacity 0.8s;
}

.container_projects_element:hover{
    transform: scale(1.02);
    opacity: 50%;
}

.container_projects_element_figure_figure{
    width: 100%;
}

.container_projects_element_figure_figure img{
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.container_projects_element_text{
    margin: 5% 5%;
}

.tech_logos{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 5px;
}

.tech_logos_element{
    flex: 0 0 calc((100% - 20px)/5);
    max-width: 100px;
    min-width: 50px;
}

.tech_logos_element_fig{
    height: 100px;
}

.tech_logos_element_fig img{
    height: 100%;
    object-fit: contain;
}

.contact_logos_element_fig{
    height: 100px;
}

.contact_logos_element_fig img{
    height: 100%;
}


.section_footer{
    background-color: var(--color1);
    color: white;
    margin: auto;
}

.contact_logos{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
}

.contact_logos_element{
    flex: 0 0 3;
}

.contact_logos_element_fig{
    height: 100px;
}

.contact_logos_element_fig img{
    height: 100%;
}

.contact_logos_element_fig_img2{
    border-radius: 10px;
} 

.some_padding{
    padding: 20px;
}

.content_table{
    margin: 0 auto;
    width: 90%;
    vertical-align: center;
    border-collapse: collapse;
}

.table_head{
    background-color: var(--color2);
    color: white;
}

.content_table th, .content_table td{
    padding: 5px;
}

.content_table tr{
    transition: transform 0.8s, background-color 0.8s;
}

.content_table tr:hover:not(.table_head){
    transform: none;
    background-color: var(--color3);
}

tr:nth-child(even){
    background-color: #0064a338;
}

.article_multimedia{
    margin: 10px;
    height: auto;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: green;
    object-fit: fill;
}


.paragraph_list{
    list-style-position: inside;
}

.list_title{
    font-size: 18px;
    font-weight: bold;
}

.article_container{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1%;
}